#include "appinfo.h"
#include "winids.h"
#include "res.h"

#include <winresrc.h>

IDI_MAINICON ICON "/msys2.ico"

IDD_MAINBOX DIALOGEX DISCARDABLE 32, 8, DIALOG_WIDTH, DIALOG_HEIGHT
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION DIALOG_TITLE
FONT 8, DIALOG_FONT
CLASS DIALOG_CLASS
BEGIN
END

IDD_LAUNCHER DIALOGEX 0, 0, 100, 97
STYLE DS_3DLOOK | DS_CENTER | DS_SYSMODAL | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST | WS_EX_APPWINDOW
CAPTION "Mintty"
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX        "Shells (bash)", 0, 3, 5, 92, 69, 0, WS_EX_LEFT
    PUSHBUTTON      "MSYS2",            IDD_MSYS2_BTN,   9, 16, 44, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Mingw-w64 32 bit", IDD_MINGW32_BTN, 9, 35, 74, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Mingw-w64 64 bit", IDD_MINGW64_BTN, 9, 54, 74, 14, 0, WS_EX_LEFT

    PUSHBUTTON      "Cancel", IDCANCEL, 25, 78, 44, 14, NOT WS_TABSTOP, WS_EX_LEFT
}

/*
 * The actual VERSIONINFO resource.
 */
VS_VERSION_INFO VERSIONINFO
FILEVERSION COMMA_VERSION
FILEFLAGSMASK 0
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0 /* n/a for VFT_APP */
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    /* "lang-charset" LLLLCCCC = (UK English, Unicode) */
    BLOCK "080904B0"
    BEGIN
      VALUE "FileVersion", POINT_VERSION
      VALUE "FileDescription", APPDESC
      VALUE "ProductName", APPNAME
      VALUE "ProductVersion", VERSION
      VALUE "CompanyName", AUTHOR
      VALUE "LegalCopyright", COPYRIGHT
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    /* Once again -- same meanings -- apparently necessary */
    VALUE "Translation", 0x809, 1200
  END
END

1 RT_MANIFEST "res.mft"
